.set-logo-nav{
    color: #152C5B;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.set-logo-nav span{
    color: #3252DF;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

a{
    text-decoration: none;
}

.set-menu-nav{
    /* margin-top: 30px; */
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.btn-pp-nav{
    width: 175px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #3252DF;
    box-shadow: 0px 8px 15px 0px rgba(50, 82, 223, 0.30);
}


.navbar-container{
    width: 100vw;
    height: fit-content;
    border-bottom: 1px solid #bfbfbf;
    box-shadow: 0px 0px 10px 0px rgba(88, 88, 88, 0.5);
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
