.contactus{    
    margin-top: 225px;
    color: var(--Primary-Text, #121E31);
    text-align: center;
    /* BigHeader / Poppins / Semibold 50 */
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.csinfo{
    margin-top: 25px;
    color: var(--Secondary-Text, #717579);
    text-align: center;
    
    /* H7 / Open Sans / Reguler 16 */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.cstxt h2{
    color: var(--Primary-Text, #121E31);

    /* H3 / Poppins / Bold 20 */
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cstxt p{
    color: var(--Primary-Text, #121E31);

    /* H5 / Poppins / Medium 18 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.icon-cu{
    width: 65px;
    height: 65px;
    background: #F6FBFA;
    border-radius: 50%;

}

.ayip{
    width: fit-content;
}

.boxx{
    width: 560px;
    height: 592.6px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #FFF;

    /* Shadow - xl */
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.04), 0px 20px 25px 0px rgba(0, 0, 0, 0.10);
}

.boxx h2{
    margin-left: 20%;
    width: 473.066px;
    height: 34.774px;
    flex-shrink: 0;

    color: var(--Primary-Text, #121E31);
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn-msg{

    width: 160.104px;
    height: 43.467px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #3252DF;

    color: var(--Light, #F9F9FA);
    text-align: center;

    /* H4 / Poppins / Bold 18 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}