.contactus{    
    margin-top: 200px;
    color: var(--Primary-Text, #121E31);
    text-align: center;
    /* BigHeader / Poppins / Semibold 50 */
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.csinfo{
    margin-top: 25px;
    color: var(--Secondary-Text, #717579);
    text-align: center;
    
    /* H7 / Open Sans / Reguler 16 */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.cstxt h2{
    color: var(--Primary-Text, #121E31);

    /* H3 / Poppins / Bold 20 */
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cstxt p{
    color: var(--Primary-Text, #121E31);

    /* H5 / Poppins / Medium 18 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.icon-cu{
    width: 65px;
    height: 65px;
    background: #F6FBFA;
    border-radius: 50%;

}

.ayip{
    width: fit-content;
}

.boxx{
    width: 560px;
    border-radius: 14px;
    padding-bottom: 20px;
    background: #FFF;

    position: absolute;
    top: 20px;
    right: 50px;

    /* Shadow - xl */
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.04), 0px 20px 25px 0px rgba(0, 0, 0, 0.10);
}

.boxx h2{

    color: var(--Primary-Text, #121E31);
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    margin: auto;
    margin-left: 27%;

}

.boxx p{
    color: var(--Secondary-Text, #161616);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.btn-msg{
    padding: 10px 60px;
    border-radius: 8px;
    background: #3252DF;

    color: var(--Light, #F9F9FA);
    text-align: center;

    /* H4 / Poppins / Bold 18 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.boxx input{
    border-radius: 5px;
    outline: none;
    border: none;
    height: 40px;
    font-size: 20px;
    padding-left: 20px;
    background-color: #f5f1f1;
}

.seeepdah input{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}
