.set-footer{
    margin-top: 120px;
    width: 100vw;
    background-color: #232631;
    padding-bottom: 20% !important;
}
.set-row-footer{
    margin-top: 80px;
}

.page-menus-footer li{
    margin-top: 5px;
}
.page-menus-footer{
    padding-left: 50px;
    padding-top: 100px; 
}
